!!! 5
%html{ class: "no-js", lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= BroadCastor::App.title
    = stylesheet_tag "application"
    = yield_content :head

  %body

    %nav.top-bar
      %ul.title-area.small-8.column.small-offset-2
        %li.name
          %h1
            %a{href: "/"}
              %i.fa.fa-comment-o
              broad-castor

    .container.small-8.column.small-offset-2
      = yield

    = javascript_tag "application"
    :javascript
      $(document).foundation();
    = yield_content :js